.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
    height: 60%;
    width: 40%;
    background-color: white;
    border: solid 1px black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-bar {
    height: 25px;
    width: 50%;
    border-radius: 5px;
    outline: none;
    border: solid 1px black;
    border-width: 0 0 1px 0;
    padding: 5px;
}

.results {
    width: 60%;
    height: 70%;
    margin: 15px;
    padding: 10px;
    border: solid 1px rgb(133, 123, 123);
    border-radius: 10px;
    border-width: 0 0 2px 0;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.user {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 100%;
    border: solid 1px rgb(99, 97, 97);
    border-radius: 5px;
    border-width: 0 0 1px 0;
    transition: background-color 0.4s;
    margin-bottom: 2px;
}

.user:hover {
    background-color: rgba(212, 189, 189, 0.4);
}

.container {
    display: flex;
    align-items: center;
}

.back {
    align-self: flex-end;
    cursor: pointer;
    display: flex;
    height: 15px;
    width: 15px;
    margin-right: 20px;
    margin-top: 15px;
}

.back-img, .user-img, .add-user-img {
    height: 100%;
    width: 100%;
}

.img-container {
    display: flex;
    align-items: center;
    display: flex;
    height: 30px;
    width: 30px;
    margin: 3px;
}

.add-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

